[Unit]
Description=DRBL client mkswapfile service
DefaultDependencies=no
After=network.target

[Service]
Environment=TERM=linux
ExecStart=/etc/init.d/mkswapfile start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=drbl-clients-nat.service
