# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Greeter=drbl-gdm.xml
Name=drbl-gdm
Description=The GDM background for DRBL server and clients.
Author=Added some words by Steven Shiau - steven _at_ nchc org tw, originally by Guido Sanchez - zeek@argentina.com. The logo of penguin is provided by Emma Chiu from NCHC, Taiwan.
Copyright=Just don't know.
Screenshot=screenshot.png
