[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Clonezilla live
Type=Application
Exec=sudo clonezilla -s
TryExec=
Icon=/usr/share/drbl/image/ocslogo.png
X-GNOME-DocPath=
Terminal=true
Name[en]=Clonezilla live
Name[es]=Clonezilla live
Name[fr]=Clonezilla live
Name[it]=Clonezilla live
Name[ja]=Clonezilla ライブ
Name[zh_CN]=再生龙单机版
Name[zh_TW]=再生龍單機版
GenericName[en]=Clonezilla live
GenericName[es]=Clonezilla live
GenericName[fr]=Clonezilla live
GenericName[it]=Clonezilla live
GenericName[ja]=Clonezilla ライブ
GenericName[zh_CN]=启动再生龙单机版
GenericName[zh_TW]=啟動再生龍單機版
Comment[en]=Start Clonezilla live
Comment[es]=Arrancar Clonezilla live
Comment[fr]=Lancer Clonezilla live
Comment[it]=Avvio di Clonezilla live
Comment[ja]=Clonezilla ライブを開始する
Comment[zh_CN]=启动再生龙单机版(Clonezilla live)
Comment[zh_TW]=啟動再生龍單機版(Clonezilla live)
GenericName=Clonezilla live
Comment=
