[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Clonezilla server
Type=Application
Exec=sudo ocs-srv-live start
TryExec=
Icon=/usr/share/drbl/image/ocslogo.png
X-GNOME-DocPath=
Terminal=true
Name[en]=Clonezilla server
Name[es]=Clonezilla server
Name[fr]=Clonezilla server
Name[it]=Clonezilla server
Name[ja]=Clonezilla サーバ
Name[zh_CN]=再生龙服务器版
Name[zh_TW]=再生龍伺服器版
GenericName[en]=Clonezilla server edition
GenericName[es]=Clonezilla server edition
GenericName[fr]=Clonezilla server edition
GenericName[it]=Clonezilla edizione server
GenericName[ja]=Clonezilla サーバエディッション
GenericName[zh_CN]=启动再生龙服务器版
GenericName[zh_TW]=啟動再生龍伺服器版
Comment[en]=Start Clonezilla server edition
Comment[es]=Arrancar Clonezilla server edition
Comment[fr]=Lancer Clonezilla server edition
Comment[it]=Avvio di Clonezilla edizione server
Comment[ja]=Clonezilla サーバエディッションを開始します
Comment[zh_CN]=启动再生龙服务器版(Clonezilla server edition)
Comment[zh_TW]=啟動再生龍伺服器版(Clonezilla server edition)
GenericName=Clonezilla server edition
Comment=
