[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Lxrandr
Type=Application
Exec=sudo lxrandr
TryExec=
Icon=/usr/share/icons/Tango/32x32/apps/gnome-monitor.png
X-GNOME-DocPath=
Terminal=false
Name[en]=Screen resolution
Name[es]=resolución de pantalla
Name[fr]=Résolution de l'écran
Name[it]=Risoluzione dello schermo
Name[ja]=画面の解像度
Name[zh_CN]=屏幕分辨率
Name[zh_TW]=螢幕解析度
GenericName[en]=lxrandr
GenericName[es]=lxrandr
GenericName[fr]=lxrandr
GenericName[it]=lxrandr
GenericName[ja]=lxrandr
GenericName[zh_CN]=lxrandr
GenericName[zh_TW]=lxrandr
Comment[en]=Screen resolution tuning
Comment[es]=Ajustar resolución de pantalla
Comment[fr]=Ajuster la résolution de l'écran
Comment[it]=Regolazione Risoluzione schermo
Comment[ja]=画面の解像度を調整します
Comment[zh_CN]=调整屏幕分辨率
Comment[zh_TW]=調整螢幕解析度
GenericName=lxrandr
Comment=
