[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=sudo gparted
TryExec=
Icon=/usr/share/icons/hicolor/32x32/apps/gparted.png
X-GNOME-DocPath=
Terminal=false
Name[en]=GParted
Name[es]=GParted
Name[fr]=GParted
Name[it]=GParted
Name[ja]=GParted
Name[zh_CN]=GParted
Name[zh_TW]=GParted
GenericName[en]=GParted
GenericName[es]=GParted
GenericName[fr]=GParted
GenericName[it]=GParted
GenericName[ja]=GParted
GenericName[zh_CN]=GParted
GenericName[zh_TW]=GParted
Comment[en]=Gnome Partition Editor
Comment[es]=Gestión de particiones de disco
Comment[fr]=Éditeur de partitions Gnome
Comment[it]=Gestione Partizioni Gnome
Comment[ja]=Gnome パーティションエディタ
Comment[zh_CN]=Gnome硬盘分割表编辑器 
Comment[zh_TW]=Gnome硬碟分割表編輯器
Name=GParted
GenericName=GParted
Comment=
