[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Start DRBL
Type=Application
Exec=sudo drbl-live start
TryExec=
Icon=/usr/share/drbl/image/drbllogo.png
X-GNOME-DocPath=
Terminal=true
Name[en]=Start DRBL
Name[es]=Iniciar DRBL
Name[fr]=Lancer DRBL
Name[it]=Avviare DRBL
Name[ja]=DRBL 開始
Name[zh_CN]=启动 DRBL
Name[zh_TW]=啟動 DRBL
GenericName[en]=Start DRBL
GenericName[es]=Iniciar DRBL
GenericName[fr]=Lancer DRBL
GenericName[it]=Avviare DRBL
GenericName[ja]=DRBL 開始
GenericName[zh_CN]=启动 DRBL
GenericName[zh_TW]=啟動 DRBL
Comment[en]=Start DRBL
Comment[es]=Iniciar DRBL
Comment[fr]=Lancement de DRBL
Comment[it]=Avviare DRBL
Comment[ja]=DRBL を開始します
Comment[zh_CN]=启动 DRBL
Comment[zh_TW]=啟動 DRBL
GenericName=Start DRBL
Comment=
