[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Stop DRBL
Type=Application
Exec=sudo drbl-live stop
TryExec=
Icon=/usr/share/drbl/image/drbllogo.png
X-GNOME-DocPath=
Terminal=true
Name[en]=Stop DRBL
Name[es]=Parar DRBL
Name[fr]=Arreter DRBL
Name[it]=Fermare DRBL
Name[ja]=DRBL 停止
Name[zh_CN]=停止 DRBL
Name[zh_TW]=停止 DRBL
GenericName[en]=Stop DRBL
GenericName[es]=Parar DRBL
GenericName[fr]=Arrêter DRBL
GenericName[it]=Fermare DRBL
GenericName[ja]=DRBL 停止
GenericName[zh_CN]=停止 DRBL
GenericName[zh_TW]=停止 DRBL
Comment[en]=Stop DRBL
Comment[es]=Parar DRBL
Comment[fr]=Arrêt de DRBL
Comment[it]=Fermare DRBL
Comment[ja]=DRBL を停止します
Comment[zh_CN]=停止 DRBL
Comment[zh_TW]=停止 DRBL
GenericName=Stop DRBL
Comment=
